<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/bg5.png" %}');
      text-color:grey;
      background-size: cover;
      background-repeat: no-repeat;
    
    }
    .car{
      text-align:center;
    }

    .jumbotron h1 {
      text-align: center;
      margin-top:200px;
      
    }
   
  </style>

</head>

<body>
  {% include "vehicle/navbar.html" %}
  <br><br>

  <!--div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div-->
  
  <div class="jumbotron" style="margin-bottom: 40px;margin-top:0px;height:700px;">
     
  </div>
  <marquee behavior="scroll" direction="left">
    <h5>We are here to provide you a services...</h5>
 
 </marquee>
  

  {% include "vehicle/customer_mechanic_cards.html" %}
<br><br><br><br><br>
  {% include "vehicle/footer.html" %}
</body>

</html>
